.flat-header{
  padding: 20px;

}
.flat-header-details{
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 0;
}
.flat-owner{
  padding: 20px;
}

.flat-name{
  h1 {
    margin-top: 0;
    font-size: 30px;
  }
}
