<%members = %w(Julien Matthieu Léa Alain) %>
<div class="container text-center">
  <h1>L'équipe :</h1>
  <ul class="list-inline">
    <% members.each do |m|%>
      <li><h3><%= m%></h3></li>
    <% end %>
  </ul>
</div>
