<%members = %w(Julien Matthieu Léa Alain) %>
<div class="container text-center">
  <h1>L'équipe :</h1>
  <ul class="list-inline">
    <% members.each do |m|%>
      <li>
        <%random = rand(0..20) %>
        <%= image_tag "http://i.pravatar.cc/100?img=#{random}", class: "avatar-large img-circle" %><br>
      <h3>
      <%= m%>
      </h3>
      </li>
    <% end %>
  </ul>
</div>


